<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Menu de opciones</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/MenuVisitante']" [routerLinkActive]="['active']">Menu Principal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/BlogTico']" [routerLinkActive]="['active']">Blog Tico</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Contactenos']" [routerLinkActive]="['active']">Contactenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Configuración Cuenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cerrar Sesión</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
<div class="body">
  <div class="container">
    <div class="title">Configuracion de cuenta</div>
    <div class="content">
      <form action="#">
          <div class="user-details">

          <div class="input-box">
            <span class="details">Nombre</span>
            <input type="text" id="Texto1" placeholder="Ingrese su nombre" required>
            
          </div>
          <div class="input-box">
            <span class="details">Usuario</span>
            <input type="text" placeholder="Ingrese su usuario" required>
            
          </div>
          <div class="input-box">
            <span class="details">Correo electrónico</span>
            <input type="text" placeholder="Ingrese su correo electrónico" required>
            
          </div>
          <div class="input-box">
            <span class="details">Numero de teléfono</span>
            <input type="text" placeholder="Ingrese su numero" required>
            
          </div>
          <div class="input-box">
            <span class="details">Contraseña</span>
            <input type="text" placeholder="Ingrese su contraseña" required>
          </div>
          <div class="input-box">
            <span class="details">Confirmar contraseña</span>
            <input type="text" placeholder="Confirme su contraseña" required>
          </div>
        </div>

        <div class="botones">
              <button type="button" class="button btn btn-outline-success">Guardar Cambios</button>
              <button type="button" class="button btn btn-outline-danger">Eliminar Cuenta</button>
        </div>

      </form>
    </div>
  </div>
</div>
