<div>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Menu de opciones</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Menu Principal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/BlogTico']" [routerLinkActive]="['active']">Blog Tico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Contactenos']" [routerLinkActive]="['active']">Contactenos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ConfigVisitante']" [routerLinkActive]="['active']">Configuración Cuenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Eliminar Cuenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cerrar Sesión</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  <br>
  <p class="fs-1 fw-bold text-center">Foros</p>
  <p class="fs-4 text-center">A continuación, por medio de tarjetas podra ingresar al foro que guste comentar :)</p>
  <div class="card text-dark" style="width: 18rem;">
    <div class="card-body" >
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body center">
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

