<div class="body">
  <div class="container">
    <div class="title">Registro</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nombre</span>
            <input type="text" placeholder="Ingrese su nombre" required>
          </div>
          <div class="input-box">
            <span class="details">Usuario</span>
            <input type="text" placeholder="Ingrese su usuario" required>
          </div>
          <div class="input-box">
            <span class="details">Correo electrónico</span>
            <input type="text" placeholder="Ingrese su correo electrónico" required>
          </div>
          <div class="input-box">
            <span class="details">Numero de teléfono</span>
            <input type="text" placeholder="Ingrese su numero" required>
          </div>
          <div class="input-box">
            <span class="details">Contraseña</span>
            <input type="text" placeholder="Ingrese su contraseña" required>
          </div>
          <div class="input-box">
            <span class="details">Confirmar contraseña</span>
            <input type="text" placeholder="Confirme su contraseña" required>
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Tipo de usuario</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Visitante</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Dueño de restaurante</span>
          </label>
          </div>
        </div>
        <div class="centrar-btn">
          <button type="button" class="button btn btn-outline-success">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
