<div class="body">
  <div class="container">
    <div class="title">Registro del Foro</div>
    <div class="content">
      <form action="">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nombre del Restaurante</span>
            <input type="text" name="nombreRestaurante" id="nombreRestaurante" placeholder="Ingrese su nombre de restaurante" class="form-control" [(ngModel)]="restaurante.nombreRestaurante" required>
          </div>
          <div class="input-box">
            <span class="details">Categoría</span>
            <input type="text" name="categoria" id="categoria" placeholder="Ingrese su categoria" class="form-control" [(ngModel)]="restaurante.categoria" required>
          </div>
          <div class="input-box">
            <span class="details">Ubicación</span>
            <input type="text" name="ubicacion" id="ubicacion" placeholder="Ingrese su ubicación" class="form-control" [(ngModel)]="restaurante.ubicacion" required>
          </div>
          <div class="input-box">
            <span class="details">Pagina Web Oficial</span>
            <input type="text" name="paginaWeb" id="paginaWeb" placeholder="Ingrese su pagina web" class="form-control" [(ngModel)]="restaurante.paginaWeb" required>
          </div>
          <div class="input-box">
            <span class="details">Red Social Oficial</span>
            <input type="text" name="redSocial" id="redSocial" placeholder="Ingrese su red social" class="form-control" [(ngModel)]="restaurante.redSocial" required>
          </div>
        </div>
        <div class="centrar-btn">
          <button type="button" class="button btn btn-outline-success" (click)="agregarRestaurante()">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
