<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Menu de opciones</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/MenuVisitante']" [routerLinkActive]="['active']">Menu Principal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/BlogTico']" [routerLinkActive]="['active']">Blog Tico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Contactenos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ConfigVisitante']" [routerLinkActive]="['active']">Configuración Cuenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cerrar Sesión</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
<section class="contact">
  <div class="content">
      <h2>Contáctenos</h2>
      <br>
      <p>A nosotros nos importa mucho tu opinión</p>
  </div>
  <div class="container">
      <div class="contactInfo">
          <div class="box">
              <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
                  <div class="text">
                      <h3>¿De dónde somos?</h3>
                      <p>Costa Rica,<br>San José</p>
                  </div>
          </div>
          <div class="box">
              <div class="icon"><i class="fa-solid fa-phone"></i></div>
                  <div class="text">
                      <h3>Telefono</h3>
                      <p>+506 4444 5555</p>
                  </div>
          </div>
          <div class="box">
              <div class="icon"><i class="fa-solid fa-inbox"></i></div>
                  <div class="text">
                      <h3>Email</h3>
                      <p>MiBarrio@mibarrio.cr</p>
                  </div>
          </div>
      </div>
      <div class="contactForm">
          <form>
              <h2>¡Envíanos un mensaje!</h2>
              <div class="inputBox">
                  <input type="text" required="Llene el espacio">
                  <span>Nombre Completo</span>
              </div>
              <div class="inputBox">
                  <input type="text" required="Llene el espacio">
                  <span>Correo</span>
              </div>
              <div class="inputBox">
                  <textarea name="" id="" required="Llene el espacio"></textarea>
                  <span>Escribe tu mensaje</span>
              </div>
              <div class="inputBox">
                  <input type="submit" required="Requerido"  >

              </div>
          </form>
      </div>
  </div>
</section>
