<p class="fs-1 fw-bold text-center">Foro : </p>
<form action="">
  <div class="row">
    <div class="col-4">
      <div class="input-box">
        <input type="text" name="textoForo" #nombre="ngModel" [(ngModel)]="comentario.textoForo" class="form-control"
          placeholder="Texto" required />
        <a class="btn btn-secondary h-75 btn-lg m-2" (click)="agregarComentarioForo()">Agregar
          Comentario</a>
      </div>
    </div>

    <div class="col-8">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Texto Foro</th>
            <th class="text-center" scope="col"></th>
            <th class="text-center" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let comentario of comentarios; let indice = index">
            <th scope="row">{{indice+1}}</th>
            <td>{{comentario.textoForo}}</td>
            <td><button class="btn btn-warning">Actualizar</button></td>
            <td><button class="btn btn-danger">Borrar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
