<div class="body">
  <div class="container">
    <div class="title">Registro del Blog</div>
    <div class="content">
      <form action="">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Titulo del Blog:</span>
            <input type="text" name="tituloBlog" id="tituloBlog" placeholder="Ingrese su nombre de su blog" class="form-control" [(ngModel)]="blogTico.tituloBlog" required>
          </div>
          <div class="input-box">
            <span class="details">Descripción:</span>
            <input type="text" name="descripcionBlog" id="descripcionBlog" placeholder="Ingrese su descripcion" class="form-control" [(ngModel)]="blogTico.descripcionBlog" required>
          </div>
          <div class="input-box">
            <span class="details">Explicación:</span>
            <input type="text" name="explicacionBlog" id="explicacionBlog" placeholder="Ingrese su explicación" class="form-control" [(ngModel)]="blogTico.explicacionBlog" required>
          </div>
        </div>
        <div class="centrar-btn">
          <button type="button" class="button btn btn-outline-success" (click)="agregarBlogTico()">Registrar</button>
        </div>
        <br>
        <div class="centrar-btn">
          <button type="button" class="button btn btn-outline-danger"><a [routerLink]="['/BlogTico']" [routerLinkActive]="['active']">Regresar</a></button>
        </div>
      </form>
    </div>
  </div>
</div>
