<div class="body">
  <div class="container">
    <div class="title">¿Cómo será tu foro?</div>
    <div class="content">
      <form action="">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nombre</span>
            <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre" class="form-control" required>
          </div>
          <div class="input-box">
            <span class="details">Usuario</span>
            <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Ingrese su usuario" class="form-control" required>
          </div>
          <div class="input-box">
            <span class="details">Correo electrónico</span>
            <input type="text" name="email" id="email" placeholder="Ingrese su correo electrónico" class="form-control" required>
          </div>
          <div class="input-box">
            <span class="details">Numero de teléfono</span>
            <input type="text" name="telefono" id="telefono" placeholder="Ingrese su numero" class="form-control" required>
          </div>
          <div class="input-box">
            <span class="details">Contraseña</span>
            <input type="text" name="password" id="password" placeholder="Ingrese su contraseña" class="form-control" required>
          </div>
          <div class="input-box">
            <span class="details">Confirmar contraseña</span>
            <input type="text" placeholder="Confirme su contraseña" required>
          </div>

        </div>
        <div class="centrar-btn">
          <button type="button" class="button btn btn-outline-success">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
