<div>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Menu de opciones</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/MenuVisitante']" [routerLinkActive]="['active']">Menu Principal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Blog Tico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Contactenos']" [routerLinkActive]="['active']">Contactenos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ConfigVisitante']" [routerLinkActive]="['active']">Configuración Cuenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cerrar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <p class="fs-1 fw-bold text-center">Foros</p>
  <p class="fs-4 text-center">A continuación, por medio de tarjetas podra ingresar al foro que guste comentar :)</p>
  <div class="d-flex flex-row-reverse">
    <a class="btn btn-secondary h-75 btn-lg m-2" [routerLink]="['/ForoBlogTico']" [routerLinkActive]="['active']">Crear Blog</a>
    <a class="btn btn-secondary h-75 btn-lg m-2"  [routerLink]="['/ConfigBlogTico']" [routerLinkActive]="['active']">Configurar Blogs</a>
  </div>
  <div class="d-flex flex-row justify-content-around">
    <div class="card text-dark" style="width: 18rem;" *ngFor="let blogTico of blogTicos">
      <div class="card-body" >
        <h5 class="card-title">Titulo: {{blogTico.tituloBlog}}</h5>
        <!--p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p-->
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Descripción: {{blogTico.descripcionBlog}} </li>
        <li class="list-group-item">Explicación: {{blogTico.explicacionBlog}} </li>
      </ul>
      <div class="card-body center">
        <a class="btn btn-primary" [routerLink]="['/Foro']" [routerLinkActive]="['active']">Mirar Foro</a>
      </div>
    </div>
  </div>
</div>



